[2014-09-25 15:40] hadiasghari opened #1 "pyasn_util_download --latest fails between 12AM and xxx"
The --latest switch downloads the RIB file for today. However, in the early hours of the day in a time zone ahead of the server, the server has not yet created any files for that day. So the script aborts with "NOT FOUND" error, instead of downloading anythig.

A simple good alternative would be to just download the last RIB file available; another is to change the time to the RouteView server's t

[2014-09-25 15:44] hadiasghari opened #2 "pyasn.get_as_prefixes() fails with string inputs"
e.g., db.get_as_prefixes('1128') will return None, while db.get_as_prefixes(1128) gives the correct output.  The desired behavior would be for the function to cast the input into an int. In some cases its possible; in others, it fails, and the callee has amore meaningful response

[2014-09-29 09:15] hadiasghari opened #3 "add property to return pyasn.version"
add a property that returns the version (from manifest)

[2014-10-02 15:04] hadiasghari opened #4 "documentation error for function .lookup()"
On the Pypi readme, by mistake it says  db.lookup_asn(). it should be:

[code]

[2014-10-14 10:53] khamin opened #5 "AssertionError while converting RIB"
Got _AssertionError_ while converting _rib.20141014.0600.bz2_ but _rib.20141006.1600.bz2_ works fine.

[code]

[2014-10-21 20:21] #4 closed, assigned to nobody

[2014-10-21 20:44] #2 closed, assigned to nobody

[2014-10-21 21:07] #3 closed, assigned to nobody

[2014-10-21 22:01] #1 closed, assigned to hadiasghari

[2014-10-21 23:45] #5 closed, assigned to hadiasghari

[2014-10-29 13:33] hadiasghari opened #6 "strange speed difference between pyasn 1.5 and pyasn 1.2"
This was brought to my attention by Maciej. The new pyasn is unexceptdly 15 times slower than the previous version. One guess is that it has something to do with the C compiler switches (e.g., if one is built in debug mode) when installing via PIP versus the old manual build.  To check.

Here are the comparisons:
$ ipython
import PyASN
%time db1 = PyASN.new('/data/data/db.rviews/ipasn_20140101.dat

[2014-10-29 23:44] hadiasghari opened #7 "pyasn.__version__ returns incorrect version"
Should return 1.5.xxx not sure where this strange number is coming frame; perhaps a string/tuple/thing. To check.

[2014-10-30 19:23] #7 closed, assigned to nobody

[2014-10-30 23:20] #6 closed, assigned to nobody

[2014-10-31 17:12] hadiasghari opened #8 "Strange ASN resolved for 192.121.53.101"
For a particular IP, an AS is returned that is not recognized by RIPE:

[code]

versus:

[code]

The error is in the IPASN.DAT file -- either in the conversion or the routeviews data itself; something to look into:

[code]

[2014-11-02 13:23] #8 closed, assigned to nobody

[2014-11-04 12:44] samounk6 opened #9 "Extra feature: Non overlapping prefixes"
Suggestion for a new feature: a new feature can be added to pyasn package that returns the size of advertised ip space for each ASN ( sum of ips in the smallest prefixes of an ASN)

[2014-11-04 17:18] samounk6 opened #10 "ASNs that are not mapped to prefixe(s)"
I have noticed that some ASNs cannot be mapped to prefixe(s).Here is the list of ASNs :
11018
12895
13063
13289
34691
36383
393223
47448
48076
48496
52334

Here is the code I have tried:

[2014-11-04 19:10] #10 closed, assigned to nobody

[2014-11-04 19:11] #9 closed, assigned to nobody

[2014-12-17 10:56] hadiasghari opened #11 "bug in pyasn_util_convert input parameter parsing"
Parameters 2&3 are dates, not 1&2; so it should be:

    try:
        dt = datetime.strptime(argv[2], '%Y-%m-%d').date()
        dt_end = datetime.strptime(argv[3], '%Y-%m-%d').date()
    except ValueError:

Also: add a flush() after the prints for the nohup log

[2015-01-09 07:52] hadiasghari opened #12 "minor bug: get_as_prefixes_effective gives exception on non existant AS"
.get_as_prefixes_effective() gives an exception on a non existant AS (or perhaps one with no prefixes). The desired outcome will be for it to behave similar to .get_as_prefixes() in such cases (I think returning a None)

[2015-02-08 13:44] hadiasghari commented on #11
fixed

[2015-02-08 13:44] #11 closed

[2015-02-08 13:49] hadiasghari opened #13 "pyasn_util_convert.py: assert error in conversion of some 2009 RIB files"
20090519.0600...
  Error parsing prefix '84.205.80.0/24'

20090609.0600...
  Error parsing prefix '84.205.64.0/24'

Traceback (most recent call last):
  File "/home/hadi/pyasn.git/pyasn-utils/pyasn_util_convert.py", line 86, in <module>
    dat = mrtx.parse_mrt_file(f)
  File "/usr/lib64/python2.6/site-packages/pyasn-1.5.0b6-py2.6-linux-x86_64.egg/pyasn/mrtx.py", line 83, in parse_mrt_file
    ori

[2015-09-01 14:54] sebix opened #14 "inet_pton() returned error with IPv6"
Both with Python 2 and Python 3 I encounter this error with IPv6 addresses, while IPv4 works fine:

    (15169, '8.8.8.0/24')

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/local/lib/python3.4/dist-packages/pyasn/__init__.py", line 83, in lookup
        rn = self.radix.search_best(ip_address)
    ValueError: inet_pton() returned error

This IPv6

[2015-09-03 17:00] hadiasghari commented on #14
Hi Sebix, and thanks for the bug report. We hadn't tested the IPv6 functionality yet - basically that's what's holding back coming out of 'beta'. The underlying radix tree supports IPv6, so the rest shouldn't be too hard to fix once we get to it. If you're in a hurry, I'd suggest you look for another module. If you have a few weeks, I can get on to it and fix the IPv6 part after a few other projec

[2015-09-03 18:09] sebix commented on #14
No, I use Linux (based on ubuntu 14.04 LTS). Installed via pip and uses 2.7 and 3.4.

Btw, it's used in [certtools/intelmq](https://github.com/certtools/intelmq/), I discovered the bug during developing/testing the software.

[2015-09-03 20:53] hadiasghari commented on #14
Great to know that it's combined with this other package; I'll prioritize it on our side for the next cycles. Do you have examples of actual IPv6 addresses that will be looked up (useful for debugging)? So far few public blacklists I've seen include IPv6 addresses. Thanks.

[2015-09-04 06:56] sebix commented on #14
Here are some addresses you can use:

    "2001:250:1001:1851:116:756d:e2f0:11a1"
    "2001:41d0:2:3c2d::1"
    "2001:41d0:52:100::1341"
    "2001:41d0:a:6a9d::1"
    "2001:e42:102:1208:153:121:75:130"
    "2607:5300:100:200::e66"
    "2607:5300:60:623c::"
    "2607:ff50:0:37:250:56ff:febe:4d8a"
    "2a01:6f0:ffff:f7::5c78"
    "2a01:7e00::f03c:91ff:fe73:f5d9"
    "2a02:c200:1:10:2:3:7159:1"
    "

[2015-09-16 06:58] sebix opened #15 "Version tags missing"
There are no tags indicating where the software has been released as a specific version.

It seems 0c1ae718cd3394b534392533a7f26f837dfd42fc is 1.5.0b6, also on pypi.
af9acfbed0b547afd772fbcfdb2276f5e716fc66 is 1.5.0b5
2d82fcb0b6654d72a10ec8cfc0caf55cfb7f3c7a seems to be 1.5.0b4
bdf743cf9342f9a4c902e32d6f996e5e5b43c4f0 or 75285dd15792b1cc985ffee6491c9d8cf8d29a66 is 1.5.0b3

[2015-09-17 14:39] qblone opened #16 "IP to ASN mapping for edge providers - difference with Cymru"
Pyasn provides AS1103 for IP:192.87.158.242 with prefix 192.87.0.0/16 when using ipasn_20150825.dat. This is the AS for Surfnet. Upon contacting Surfnet, they stated that they are the ISP for this range but it belongs to a customer of theirs,  WKAPNET with AS1142 being the correct answer. (They aggregate it to /16 to advertise in BGP).

Team Cymru  (http://asn.cymru.com/cgi-bin/whois.cgi) correctl

[2015-09-17 14:42] qblone commented on #16
Some other cases where AS in BGP and  then team-cymru are:
(' 209.11.233.202', ‘31812’) has two registered ASN (22243, 31812). BGP maps it to AS22243 which is also upstream provider.
('182.19.13.5', '38266’), similar to previous case this prefix has two ASNS (38266, 55410) in whois data.  BGP mapped it to 55410, which is also upstream provider for AS 38266

[2015-09-17 14:58] hadiasghari commented on #16
Thanks qblone, I'll check into these. One of our unit-tests also noted a few differences with Team Cymru look up results, but we couldn't pinpoint the cause; it's great that you have ISP confirmation for the first IP address. Our hunch was that the difference lies in different BGP-views (where the BGP-data is collected), or in processing the BGP-AS-path. It might be as you say also that they suppl

[2015-09-17 17:28] hadiasghari commented on #15
Hi sebix, thanks for pointing this out. We'd forgotten to push them on git  (git push --tags @anoroozian ). I just did that, you should now see them. Please confirm to close the issue.

[2015-09-17 18:14] sebix commented on #15
Great, thanks!

[2015-09-17 18:14] #15 closed

[2015-09-24 00:55] chris-barry opened #17 "Data File License"
Hi,

Is it safe to assume that the [data files](http://data.3tu.nl/repository/uuid:d4d23b8e-2077-4592-8b47-cb476ad16e12) are under a license similar to the MIT? I would like to ship one of these files with my code and would like to be compliant with the license.

Thanks.

[2015-09-25 16:40] hadiasghari commented on #17
Hi Chris-Barry.
I think it would be a safe assumption; if not even a more liberal license. I am of course not a copyright expert. But my thinking is that the data files are processed versions of the RouteViews BGP dumps of the Internet routing table; the last one (the Internet routing table) should be in the public domain.
-Hadi

[2015-09-26 21:37] chris-barry commented on #17
I'm citing it under the MIT license to be safe :smile:. For reference, the project is here: https://github.com/chris-barry/i2spy

[2015-09-26 21:37] #17 closed

[2015-10-08 03:19] juancb commented on #14
It looks like pyasn_radix assumes all inputs are AF_INET, however it's possible to work around it by passing pyasn_radix functions a packed address.

[code]

By passing a packed function as a named argument we can circumvent the problem. I'm not sure where else this creeps up as I haven't figured out a way to get pyasn to accept a packed value.

[code]

[2015-11-17 10:03] sebix commented on #14
Any updates on this issue?

[2015-11-20 02:06] hadiasghari commented on #14
Hi Sebix,

I just pushed an update to master that adds IPv6 support. I've tested it successfully on the list of IPs you gave. A new IPASN6 file is also included. Could you kindly test the changes, and confirm that it works for you? Then I'll release it.

Cheers

[2015-11-20 02:06] hadiasghari commented on #13
Fixed in latest commit

[2015-11-20 02:06] #13 closed

[2015-11-20 02:07] hadiasghari commented on #12
Fixed in latest commit

[2015-11-24 09:51] sebix commented on #14
The code works for me, thanks!

I do not get results for the IPs posted above though.

[2015-11-25 22:00] hadiasghari commented on #14
Sebix, they should work. You need to open an ASNDAT file that has IPv6 prefixes in it. I included an example one in the data directory, it's called "ipasn6_20151101.dat".

I should perhaps add a bit to the manual on how to create these files (you need to download and process RIBs that have IPv6 info, for instance from routeviews4 -- http://archive.routeviews.org/route-views4/bgpdata/2015.11/RIBS/

[2015-11-26 21:08] sebix commented on #14
I just tried a newly downloaded file using the pyasn-utils. I can try again next week.

Hence a feature request: Maybe the utility can download two current files, for both IPv4 and IPv6 and the convert tool combines them to one?

[2015-12-01 09:43] sebix commented on #14
Yes, it works!

[2015-12-01 09:43] #14 closed

[2015-12-01 10:25] hadiasghari opened #18 "Add ability to downoad other routeview archives (mainly for IPv6)"
This issue is a follow up on adding IPv6 functionality. The module now supports IPv6 if the IPASN file given to it has IPv6 prefixes. The pyasn_util_convert can convert/create this if the given MRT-RIB has IPv6 prefixes. pyasn_util_download currently downloads routeview-1 archives which only have IPv4, and the BGP dumps with IPv4/IPv6 prefixes to be downloaded manually (see: www.routeviews.org). I

[2015-12-01 10:26] hadiasghari commented on #14
@sebix thanks for checking this. I created a new issue to add the ability to download the MRT-RIB files with both IPv4 and IPv6.

[2015-12-04 20:34] hadiasghari opened #19 "Add method to get as size"
Suggested by Arman.

for-ipv4 this is: sum([2**(32-int(s.split('/')[1]))  for i in prefixes])

[2016-02-02 08:35] sebix commented on #14
Could you please upload the 1.5.0b7 to pypi please?

[2016-02-02 15:23] hadiasghari commented on #14
Sure, will do this week.

[2016-02-09 19:30] hadiasghari commented on #14
Done.

[2016-02-09 19:36] sebix commented on #14
great thanks!

[2016-02-09 19:55] #12 closed

[2016-04-05 14:45] sebix opened #20 "Packages"
To deploy software more securely than via pip, [we](https://github.com/certtools/intelmq/) need packages for debian/ubuntu of used third-party libraries.

Would this be possible?

[2016-04-05 17:04] imaia commented on #16
cymru now returns AS1103 as Surfnet, by the way.

[2016-04-05 17:05] imaia opened #21 "get_as_name"
As of now, get_as_name is a "DO NOT USE YET" method. Would a implementation using http://www.cidr-report.org/as2.0/autnums.html for a lookup be good enough for it? If so, I could do it.

[2016-04-05 17:07] imaia opened #22 "utils as callables"
It would be great to use pyasn utils, convert and download as callables. Is that a feature desired by more people?

[2016-04-05 22:51] hadiasghari commented on #20
Sebix, I would by all means support that. Do you know how to nominate packages for inclusion in the repositories?

[2016-04-05 22:52] hadiasghari commented on #21
Yes that would be a great solution.

[2016-04-07 18:18] hadiasghari commented on #20
Attention @NullHypothesis

[2016-04-07 18:37] NullHypothesis commented on #20
A friendly Debian developer told me that you could create a package yourself and then find a Debian developer that has a look at it, and then uploads it for you.

(That sounds easier than becoming a developer yourself, or convince another developer to do all the work for you.)

[2016-04-12 13:54] alvaromlg opened #23 "IOError: invalid data stream"
Hello,

I downloaded a rib file with:
`pyasn_util_download.py --latest`

Then I tried to convert it into a .dat with:
`pyasn_util_convert.py --single rib.20160411.1400 ipasn_20160411.dat`

And then it crashed with:

Am I missing something?

Thanks

[2016-04-13 13:40] hadiasghari commented on #23
What is the size of the downloaded file (rib.20160411.1400)? Could you try downloading again?

[2016-04-13 13:52] alvaromlg commented on #23
It's 1.5G

I will try again

[2016-04-13 14:05] alvaromlg commented on #23
It crashes again:

[2016-04-13 17:46] hadiasghari commented on #23
The size of the MRT/RIB file is very strange. They are typically under 100MBs.  Perhaps RouteViews has changed something. I will have a look.

[2016-04-18 02:23] italomaia commented on #21
Here you go https://github.com/hadiasghari/pyasn/pull/24

[2016-04-18 16:52] hadiasghari commented on #21
Thank you, will have a look later this week.

[2016-04-22 14:11] hadiasghari commented on #21
@italomaia thanks, it looks great.
My only consideration is the dependency on parsel. Can we relax that requirement? I prefer to avoid additional dependencies, unless absolutely necessary

[2016-04-22 14:24] hadiasghari commented on #23
Hi @alvaromlg . I just downloaded the same file manually  (from http://archive.routeviews.org/bgpdata/2016.04/RIBS/), and it is only only 98MBs! It also converts without an issue:

`$ ls -lh rib*
 -rw-r--r-- 1 root root 98M Apr 22 16:15 rib.20160411.1400.bz2

$  pyasn_util_convert.py --single rib.20160411.1400.bz2  ipasntest.dat
MRT RIB log importer 1.5.0b7
parse_mrt_file(): starting  parse for Mr

[2016-04-22 15:53] imaia commented on #21
As pyasn has very few requirements, I felt this could be an issue. I'll try to make do without parsel and update the pull request. autnums "format" most likely won't change at all over time, so, it should work.

[2016-04-25 07:52] dmth opened #25 "Question concerning License of PyASN's ancestors"
Hi,
I've got a Question concerning the License of PyASN's ancestors:
Is there any code left from the mrtd-project which was licensed under 4-Clause BSD?

Because clause 3 would be interesting to manage:

BR dmth

[2016-04-25 13:22] alvaromlg commented on #23
mm yeah in your log I see the problem, I was uncompressing .bz2 file... now is working, thanks for your time

[2016-04-25 14:47] #23 closed

[2016-04-26 00:31] italomaia commented on #21
https://github.com/hadiasghari/pyasn/pull/24

[2016-05-10 17:08] j--- opened #26 "binary representation"
Investigate using Silk and pysilk with the available binary IP-to-ASN mapping for the binary representation.
http://tools.netsa.cert.org/silk-ipset/docs.html
https://tools.netsa.cert.org/silk/pysilk.html
http://routeviews-mirror.cert.org/pmap/
Specifically, use this object type to manipulate the available historical files:
https://tools.netsa.cert.org/silk/pysilk.html#PrefixMap-Object

Will need t

[2016-05-11 22:09] hadiasghari commented on #26
@j---  thanks.. I support the endeavor of  adding functionality to load the Silk IP-ASN-mappings (with optional dependencies). I'm busy in the next two weeks or so and can join you in the thinking after that.

[2016-05-17 07:40] sebix opened #27 "pyasn_util_convert: Support for gzip"
[RIPE data](https://www.ripe.net/analyse/internet-measurements/routing-information-service-ris/ris-raw-data) is gzip-compressed, thus direct support for it would be nice.

[Usage example](https://intelmq.org/2016/04/27/asn-lookup-made-easy.html)

[2016-05-17 16:16] hadiasghari commented on #27
This is a great idea. The main challenge is finding a cross-platform library in C for the GZip part.

[2016-05-18 07:51] sebix commented on #27
Why not use the [gzip module](https://docs.python.org/3/library/gzip.html)?

[2016-05-19 16:15] hadiasghari commented on #27
It's rather slow to read and load the database in Python, and the loading happens in the C code.

[2016-05-19 17:56] sebix commented on #27
I thought of adding the functionality to the conversion-tool, is there more needed?

[2016-06-17 07:10] hadiasghari commented on #25
Hi @dmth,  a few updates on this:

I checked the specific file you mention (_radix.c), and talked with a FOSS licensing expert. The inclusion is fine in pyasn given its referenced in both source and documentation. But the 'advertising' clause is indeed restrictive and might cause issues for derivative projects. I further contacted the chain of authors of the code to see if they can release it with

[2016-06-17 07:20] dmth commented on #25
Hadi, thank you very much for your efforts!

[2016-06-17 07:21] hadiasghari commented on #20
Hi @sebix ,

I have researched the idea of getting the package into Debian repository  (https://mentors.debian.net/intro-maintainers) a bit. On IRC I was told that the best sponsor is probably the Python team (https://wiki.debian.org/Teams/PythonModulesTeam).

I will follow up on this and am supportive of the idea.  The hold back at the moment, and what I intend to resolve first, is the possible l

[2016-06-17 15:43] anoroozian commented on #21
Implemented ...
see https://github.com/hadiasghari/pyasn/pull/24

[2016-06-17 15:43] #21 closed

[2016-07-19 20:18] sanketsharma411 opened #28 "Modify mrtx to parse entire MRT file for a single record error"
So, right now, in ```mrtx.parse_mrt_file(..)```, if a single record has an error, the whole file gets skipped. I guess it would help to modify the function such that a single line error does not skip the rest of the lines.

The issue can be re-created as
[code]

[2016-07-20 15:41] hadiasghari commented on #28
@sanketsharma411 that is a valid point. I've been thinking about how to do better error handling and debugging in that function.

My main concern was not to sweep under the rug major problems (e.g. if the downloaded file is corrupt, if the  file format has changed), and also to avoid cascading errors .  Perhaps a threshold could be set on how many records to ignore before quitting.

[2016-07-20 22:09] sanketsharma411 commented on #28
@hadiasghari yeah, that makes sense. But I am not entirely sure about how we plan to identify corrupt file, or different file format problems. Maybe we can add a boolean to ```mrtx.parse_mrt_file(..., skip_record_on_error = False)``` that allows users to skip records with some problems. Making it clear that with this argument set,  pyasn will try its best to parse the file, and simply ignore error

[2016-07-28 17:23] nusenu opened #30 "add additional AS number -> AS name source"
In a random sample of 1000 IP addresses 280 IPs had no AS name associated with the AS number after using pyasn's number->name mapping feature.

You are currently using
http://www.cidr-report.org/as2.0/autnums.html
for AS number to name mapping. That file has currently ~10k entries.

http://thyme.apnic.net/current/data-used-autnums
provides similar data (i.e. no country name) but has more entries (

[2016-08-10 14:09] sebix commented on #25
Is there any progress on this?

[2016-08-10 14:10] sebix commented on #20
Packages for OpenSUSE: https://build.opensuse.org/package/show/home:sebix/python3-pyasn

Includes into official repos is pending, but I'm still unsure about the license.

[2016-08-11 14:51] hadiasghari commented on #25
Hi @dmth , @sebix . I've filed an open issue with the MRT project (see: https://github.com/deepfield/MRT/issues/1).

[2016-08-11 20:52] sanketsharma411 opened #31 "fix pyasn __init__ to work with py27"
In commit https://github.com/hadiasghari/pyasn/commit/65b9576a35f4ef2ee84da6c925da851e07dc458b, ```open(..., encoding=...)``` was used which would not work with python < 3. Instead as  suggested ```codecs.open()``` should be used, which would be consistent with python 2.7 and 3.

[2016-08-11 21:01] sebix commented on #31
@hadiasghari could you cherry-pick this commit?

[2016-08-12 09:18] hadiasghari commented on #31
Thanks @sanketsharma411 @sebix , will check it this weekend.

[2016-08-14 22:33] hadiasghari commented on #31
@sebix alright, done, please reopen if there is an issue.
@sanketsharma411 thank you for the patch!

[2016-08-14 22:33] #31 closed

[2016-08-31 14:30] hadiasghari commented on #18
So basically we can split this up in two parts:

First, an option to choose which routeviews server RIB to download, e.g.:
-RV2 (ipv4 only, current): http://archive.routeviews.org/bgpdata/
-RV4 (ipv4+ipv6): http://archive.routeviews.org/route-views4/bgpdata/
-RV6 (ipv6 only): http://archive.routeviews.org/route-views6/bgpdata/
(full list at http://archive.routeviews.org/)

Second, debugging if/how

[2016-09-13 19:34] hadiasghari opened #33 "Add Travis-CI"
For automated adding of pull-requests.
https://travis-ci.org/
Example: https://github.com/NullHypothesis/exitmap/blob/master/.travis.yml

[2016-09-13 19:34] hadiasghari commented on #18
Thanks @jkrauska for adding the --updatev6 switch; so part of this is done.

[2016-09-16 02:12] #33 closed

[2016-09-16 02:20] hadiasghari commented on #18
Alright, this is the remainder:

(i) add also switches  for --latestv4 (which is equivalent to --latest) and --latestv4v6 (which uses routeviews4)
(ii) create a separate issue for the second task (understanding differences between routeviews)

[2016-09-16 03:30] hadiasghari commented on #30
This is an interesting point, I need to look into why the AS-names in the files differ so much. It all in the end comes from WHOIS data, so I'd guess there should be some more or less authoritative source we could use.

[2016-09-16 03:32] hadiasghari commented on #27
@sebix I thought you meant for the ipasn.dat files. Do you mean that?

[2016-09-16 03:32] hadiasghari commented on #26
@j--- so what's the best way to move forward on this...

[2016-09-16 03:34] hadiasghari commented on #25
Deepfield has not responded to the issue or email contact. So @dmth @sebix, shall we close this issue, try to find another way to contact them,  or leave it be for now?

[2016-09-16 03:35] hadiasghari commented on #19
@anoroozian is this done? can I close this?

[2016-09-16 04:29] sebix commented on #25
This is blocking any kind of bundling and/or shipping this software. If this is not solved, we are forced to switch the backend for certtools/intelmq, which I'd like to avoid if possible.

It therefore blocks #20

[2016-09-16 04:53] jkrauska commented on #25
Without knowing anything about the code you're using -- are these viable alternatives without the same restrictions?

BSD
https://github.com/freebsd/freebsd/blob/master/sys/net/radix.c

Apple Variant
https://opensource.apple.com/source/xnu/xnu-1699.24.8/bsd/net/radix.c

I too would love to have a Debian package (#20).

[2016-09-16 04:58] sebix commented on #27
See the already provided link: https://intelmq.org/2016/04/27/asn-lookup-made-easy.html

To read data from ripe.net, it is needed to convert the data from gzip to bunzip before converting, because the convert utility does not understand gzip.

[2016-09-16 05:00] jkrauska commented on #18
I could finish part 1 for you.

I'd generally prefer to use an arg parsing tool when you start adding lots of options -- are you ok with argparse (optparse is deprecated)?

[2016-09-16 05:12] sebix commented on #25
First one should be no problem at all, then both the python and the c code have MIT.

Second uses [APSL-2.0]. This is [incompatible with GPL](https://www.gnu.org/philosophy/apsl.en.html). Tough [it's problematic](https://lwn.net/1999/0318/a/raymond.html), [linking it from code with other licences is allowed](https://en.wikipedia.org/wiki/Apple_Public_Source_License)

[2016-09-16 06:28] jkrauska commented on #25
Neglecting the licenses -- Does the MIT licensed code provide similar capabilities?   I sadly admit that I only have a basic understanding of what a radix tree is -- and I haven't looked at how pyasn or MRTs use them at all.

[2016-09-16 06:34] sebix commented on #25
I guess I have less knowledge on this topic than you have.

[2016-09-16 07:10] sebix commented on #20
Builds succeed for Ubuntu 16.04. For Debian I need to change the version number (they have different policies), but it works too.

Please test them (don't have an ubuntu at hand):
https://build.opensuse.org/package/show/home:sebix/python3-pyasn

Click on the distro's name in the right bar or "Download package" to get the .deb-file.

[2016-09-16 18:39] hadiasghari commented on #20
Cool, thanks, will check.

[2016-09-16 18:45] hadiasghari commented on #27
Ah I see. That should be pretty easy then: pyasn-util-convert needs to do `gzip.open() ` instead of  `bz2.BZ2File()` in a number of places based on the file extension.

[2016-09-16 18:48] hadiasghari commented on #18
@jkrauska yes argparse would be perfect.

@sebix, does it make sense that we also add the RIPE sources (you use in https://intelmq.org/2016/04/27/asn-lookup-made-easy.html) as a download option? Is there any reason you recommend RIPE RIS over RotueViews?

[2016-09-16 19:03] hadiasghari commented on #26
@j--- so here are some thoughts, based on our earlier discussion:

1- The most interesting integration IMO is to allow pyasn to consume pmap files (http://routeviews-mirror.cert.org/pmap/). This can be either by extending `pyasn.pyasn()` to directly read pmap, or extending `pyasn_util_convert` to convert them to ipasndat format.

2-  I wouldn't want to introduce new dependencies to pyasn. So we wo

[2016-09-16 19:10] hadiasghari commented on #25
The radix tree is a fundamental part of the module. It's what enables the [longest prefix](https://en.wikipedia.org/wiki/Longest_prefix_match) to be matched. Changing it is possible, but it would require much testing for both correctness and performance issues. So I guess we should try to reach-out to DeepField via other ways.

Btw, @sebix , the FOSS lawyer I talked with said that the advertising

[2016-09-17 11:07] sebix commented on #18
ping @aaronkaplan

[2016-09-17 11:39] aaronkaplan commented on #18
Absolutely!
RIPE stat is one of the most trusted sources.

[2016-09-19 13:57] hadiasghari commented on #18
@aaronkaplan I understand RIPE is a technically trustworthy source, and that enough would be a good reason to include it.

But to dig into more details: (i) Have you compared the table with routeviews and know of systematic differences? (ii) Does it contain both v4 and v6 routing information?

[2016-09-19 14:15] aaronkaplan commented on #18
re: (i): No not yet, should be done.
re (ii): yes!

[2016-09-19 14:22] anoroozian commented on #19
@hadiasghari
Hadi, I've this implemented locally for IPv4. I'm going to also write some tests and push the changes this week. Maybe we should also discuss a similar function for IPv6.

[2016-09-19 19:05] sebix commented on #19
You may want to reuse the functionality of the [ipaddress](https://docs.python.org/3/library/ipaddress.html) module:
[code]

Available as standard lib in >= 3.3, otherwise it's available as [pypi-module](https://pypi.python.org/pypi/ipaddress/1.0.17).

[2016-09-21 19:55] jkrauska commented on #25
@sebix FWIW this python library https://github.com/YoshiyukiYamauchi/mrtparse can parse MRT datafiles (both gz and bz2) and DOES NOT use Merit's radix code. It's pure python (no c), so it's **much** slower than pyasn, but it includes a mrt2bgpdump.py script which could be trimmed down to be pretty much the same as the text file you get from the convert tool.

Update: I spent a little time hacking

[2016-09-21 21:22] jkrauska commented on #27
The mrtparse code does this pretty elegantly.

https://github.com/YoshiyukiYamauchi/mrtparse/blob/master/mrtparse/__init__.py

Search for MAGIC.

[2016-09-22 02:03] hadiasghari commented on #27
@jkrauska thanks, that is pretty neat indeed

[2016-09-22 02:04] hadiasghari commented on #25
@jkrauska just for clarification, pyasn uses the radix tree for its .lookup() function, not for the parsing .

[2016-09-26 09:35] anoroozian commented on #19
@hadiasghari @sebix, thanks.
I pushed my code  but I don't want to close the issue yet.

In terms of maintainability and code aesthetics I agree with @sebix. Reusing the IPv4Network class is the more elegant solution. But I also need to keep an eye on performance.

Our own usage of pyasn sometimes involves millions of calls to functions of the pyasn class and I'm leaning a bit towards avoiding obj

[2016-09-26 16:50] sebix commented on #19
Calling ipaddress is of course unrewarding. But you can take a look at their implementation.(Starting [here](https://hg.python.org/cpython/file/3.5/Lib/ipaddress.py#l720))

[2016-09-30 22:04] #27 closed

[2016-09-30 22:09] hadiasghari commented on #28
@sanketsharma411, could you do a pull request again? thanks

[2016-09-30 22:10] hadiasghari commented on #18
@jkrauska thanks,  merged.
@aaronkaplan would be interesting to do a systematic comparison. I'll open another issue for that.

[2016-09-30 22:10] #18 closed

[2016-09-30 22:25] hadiasghari opened #37 "Understanding differences between different BGP route dumps"
pyasn can take as input BGP route dumps from different sources. Understanding the differences between these sources can help select the default source.
- The download script currently defaults to RouteViews v4 archive.
-  RouteViews also has a v4+v6 archive that might be a better default, given the increased adoption of IPv6. Interestingly enough, these dumps are typically smaller than the v4 only

[2016-09-30 22:32] hadiasghari commented on #22
@imaia if you happen to make the changes, please submit a pull request, it could be useful for also testing.

[2016-09-30 22:52] hadiasghari commented on #16
thanks @imaia , I'm closing this issue then.

[2016-09-30 22:52] #16 closed

[2016-09-30 22:53] hadiasghari commented on #30
@nusenu do you have any info on the differences between the file sources? I.e., is it fine to switch our source?

[2016-10-01 06:51] nusenu commented on #30
No I have not, but instead of using one exclusively I'd recommend to use them both?
If there is no AS name for AS XY in file A lets take it from file B (better than having no name at all).

[2016-10-04 21:03] sanketsharma411 commented on #28
@hadiasghari #38

[2016-10-14 06:47] nagarjung commented on #23
Hi @hadiasghari, I have mrt dump from my openbgp router instead of depending on routeviews.
I am trying to convert the mrt file to ipasn data file using the utility provided by you.

[code]

But I am able to donwload and convert the rib file from routeviews which are in .bz2 format (rib.20161014.0400.bz2)

So Is it possible to convert the mrt dumps from our own openbgp router to IPASN data files ?

[2016-10-20 22:19] hadiasghari commented on #23
Hi @nagarjung , perhaps it's best to open a new issue for this question.

In general, pyasn_util_convert currently expects a bz2 (or with the new master, also gzip) file. That's the reason for the first error.

The second error relates to your specific dump file, and there might be reasons it varies slightly from the RouteViews or RIPE files. The error indicates issues with parsing one record of t

[2016-10-20 22:36] hadiasghari commented on #28
Merged.

[2016-10-20 22:36] #28 closed

[2016-10-21 05:12] nagarjung commented on #23
Hi @hadiasghari , thanks for the reply.

In one of our internal project we are collecting BGP dumps from our own BGP router and trying to analyse the bad bot traffic and do more stuff.

"Finally, what do you mean by "I am not aware that dumps from routeviews or other sources are always available"?"
- Does the dumps from the Routeviews or RIPE is Global and contains the complete routing information

[2016-10-21 14:42] hadiasghari commented on #23
Yes, Routeviews and RIPE are global, and contain complete v4 and v6 routing information. They are also historical -- you can see the view at different points in the past. We have used them in many measurement projects. They do not however include blacklist information and the such.

[2016-11-25 09:59] agrepravin opened #39 "AssertionError while converting RIB"
Got AssertionError while converting rib.20161125.0600.bz2

[code]

[2016-11-26 01:25] hadiasghari commented on #39
Hi, can you make sure the file has been downloaded correctly? What is the filesize? In rare cases there is an issue with an RIB file, and using another file from the same day solves the issue.

[2016-11-30 18:26] Nixtren commented on #39
Got same issue with http://archive.routeviews.org/route-views4/bgpdata/2016.11/RIBS/rib.20161130.1800.bz2

[code]
[code]
[code]

[2016-12-01 02:14] hadiasghari commented on #39
Thank you for reporting this @Nixtren . I can also replicate the error, and I'll have a look at it to check for the cause. As a temporary workaround: if you don't need IPv6 routes, use the route-views2  RIBs (http://archive.routeviews.org/bgpdata/2016.11/RIBS/), which convert fine.

[2016-12-10 15:46] sebix commented on #20
I have packages for CentOS, Debian, Fedora, OpenSUSE and Ubuntu: https://build.opensuse.org/package/show/home:sebix:intelmq/python3-pyasn

Please test them. After #25 is resolved, we can get them upstream.

[2016-12-10 15:49] sebix commented on #20
And please think about reducing the amount of data shipped in the releases. Currently it's 70MB test data versus 0.5MB code and docs.

[2016-12-12 22:38] hadiasghari commented on #20
Thank you! Will check both soon

[2016-12-27 15:49] Eichhoernchen commented on #39
Hi,
I can also confirm the issue.
There is a comment near the assertion
[code]

However, it appears that there are a lot of duplicates.
I checked some of them and it turns out that their underlying tables are different in that the first one has a lot more peers and the second one has less.
Could it be that this AS is in some kind of transition and not finished?

I suggest to not fail the program,

[2016-12-29 17:45] johanmazel opened #42 "AssertionError (sub_type1 == MrtRecord.T1_AFI_IPv4) when converting RIB"
I am trying to convert some RIB data from WIDE: http://archive.routeviews.org/route-views.wide/bgpdata/.

I am getting this assertion error :
Traceback (most recent call last):
  File "/home/jmazel/.local/bin/pyasn_util_convert.py", line 53, in <module>
    dat = mrtx.parse_mrt_file(f, print_progress=print_progress)
  File "/home/jmazel/.local/lib/python2.7/site-packages/pyasn/mrtx.py", line 64, i

[2016-12-31 16:44] hadiasghari commented on #39
I plan to look into this after the new year, thanks for sending more detalis.

[2017-01-03 00:34] hadiasghari commented on #39
Guys, I have updated master to version 1.5.0b8, which should solve the problem identified here.

Please test and report back to me if there are any problems still. I will close the issue in a few days.

Also happy 2017 :)

PS: @Eichhoernchen indeed you were correct, thanks.

[2017-01-03 00:36] hadiasghari commented on #42
@johanmazel , I checked. This is a separate from the other issue. Could you clarify two things so I can continue the investigation?

1. Did you run the conversion on all files of this archive (route-views.wide) and got error only on these files? Or did you randomly select these files, and get error on all of them?
2. How does route-views.wide differ from the normal route-views archive?

Thanks.

[2017-01-03 00:38] hadiasghari commented on #37
An update: I've added the mrtx.py/method dump_verbose_mrt_file() as a starting point for printing more details from an RIB   file.

[2017-01-03 00:43] hadiasghari commented on #26
Update: I plan to deprecate mrtx.py/dump_prefixes_to_binary_file() , and instead add the ability to read GZIP files in pyasn.c's loader. This will be more coherent and require less testing than adding a new file format.

The implementation will either use [Zlib](http://www.zlib.net/manual.html) in C, or we will do the unzipping in python and pass a string to the C function.

The ability to read Si

[2017-01-03 00:47] hadiasghari commented on #20
@sebix I reduced the test data to 32MB by removing the unnecessary test data. Will this suffice? (Further reduction is possible, it will require compressing some of the test-data and uncompromising them in tests.)

I still have the testing on the schedule. Happy 2017 :)

[2017-01-03 00:51] hadiasghari commented on #19
Ping @anoroozian.

[2017-01-03 07:26] Eichhoernchen commented on #39
I'm still a bit confused, I readded the part of the code that traverses all peer entries of a table entry... some have inconclusive data added to them, some routers seem advertise false prefixes, at least some of them had multiple AS that pointed to the same AS. Wouldn't it be better to return a set of ASs in these cases?

[2017-01-03 09:20] johanmazel commented on #42
1. I actually I run the script on a subset of this archive (route-views.wide): all years on January 1st and July 1st. I can provide the complete file list if you want.
2. If I am correct, the collection point is located in the WIDE network: http://www.wide.ad.jp/.

[2017-01-03 23:01] hadiasghari commented on #42
@johanmazel , this was related to the RIB files using TableDumpV1 + IPv6, which was originally not implemented. I have fixed this, and pushed it to master. Please have a look, and if there is a problem, reopen the issue. Cheers.

[2017-01-03 23:01] #42 closed

[2017-01-03 23:09] hadiasghari commented on #39
@Eichhoernchen this is a great question, and possibly relates to issue #37. (If you agree, let's move the discussion there).

I don't have a clear answer for your question yet. Ideally we wouldn't want to return all the ASes pointing to the same prefix, but the best one that the BGP router matches (if such a thing makes sense).

If you use the latest code from master, there is a new '--dump' switc

[2017-01-04 07:09] Eichhoernchen commented on #39
Ah great, I created a similar (not so clean looking) output myself.
Okay lets move the discussion there.

[2017-01-04 20:01] johanmazel commented on #42
I can confirm that it is working now.

[2017-01-04 20:47] johanmazel opened #43 "Error message with RIPE Otemachi data"
I am trying to convert some RIB data from RIPE Otemachi (http://data.ris.ripe.net/rrc06/).

I am getting this error message:
Traceback (most recent call last):
  File "pyasn_util_convert.py", line 81, in <module>
    prefixes = mrtx.parse_mrt_file(f, print_progress=not args.no_progress)  # also skip-on-error=T?
  File "/usr/local/lib/python2.7/dist-packages/pyasn-1.5.0b8-py2.7-linux-x86_64.egg/pya

[2017-01-04 21:31] hadiasghari commented on #19
I'm closing this due to little interest at the moment, please feel free to reopen it.

[2017-01-04 21:31] #19 closed

[2017-01-04 23:06] hadiasghari commented on #22
In the latest upload to master, I refactored 'pyasn_util_download.py'  so one can now call methods to download the latest route-views files, e.g.:

    # import ...
    srvr, rp, fn = find_latest_routeviews(4)
    ftp_download(srvr, rp, fn, fn)

'pyasn_util_convert.py' already called methods (in mrtx.py) for the conversion, they are also simplified, e.g.:

    # import ...
    prefixes = parse_mrt

[2017-01-04 23:12] hadiasghari commented on #37
Moving from #39, a question that relates directly to determining the origin-AS correctly even in one MRT/RIB file, when multiple AS-paths are present (which is almost always).

Sample output:

[code]

[2017-01-04 23:12] hadiasghari commented on #39
done, closing this, let's continue there

[2017-01-04 23:12] #39 closed

[2017-01-04 23:13] hadiasghari commented on #26
@j--- I will close this for now, since there has been little update/interest. Feel free to reopen it.

[2017-01-04 23:13] #26 closed

[2017-01-04 23:15] hadiasghari commented on #37
@Eichhoernchen, do you have example of specific prefixes with problems that we can delve into? Thanks.

[2017-01-04 23:26] hadiasghari commented on #43
Hi @johanmazel, I've added a new '--skip-on-error' switch to 'pyasn_util_convert' in the latest source.

Please get it and test with that to see which prefixes/records have errors, and convert without them.

If this suffices, please close the issue, otherwise, add some more details (the new --dump-screen option might help here).  Cheers

[2017-01-05 07:18] Eichhoernchen commented on #37
Sure, for example Prefix: 38.67.212.0/22 (at least in data from end of last year and start of this year)
It is announced in AS174 and AS394540.
The odd thing is that all announcements that lead to AS394540 use BGP prepending, which seems not to really make sense to me given that AS394540 is the destination, if the AS in front of AS394540 were to duplicate its entry that would make sense to me but

[2017-01-05 19:35] johanmazel commented on #43
When I do "python pyasn_util_convert.py --skip-on-error --single ripe_otemachi_rib/bview.20030701.0000.gz ripe_otemachi_dat/ipasn_20030701_0000.dat", I get this eror:
usage: pyasn_util_convert.py [-h]
                             (--single RIBFILE IPASN.DAT | --dump-screen RIBFILE | --bulk START-DATE END-DATE | --version)
                             [--no-progress] [--limit-to N]
pyasn_util_conve

[2017-01-05 19:47] hadiasghari commented on #43
Get the latest version (1.6b) from master.

[2017-01-05 19:48] hadiasghari commented on #20
@sebix I reduced the test data to approx 15MB by removing some data, and furthermore, adding the ability to load gzip-compressed IPASN databases. I've bumped up the version to 1.6b1, and will do a pypi release soon.

[2017-01-05 20:07] johanmazel commented on #43
When I do "python pyasn_util_convert.py --skip-on-error --single ripe_otemachi_rib/bview.20030701.0000.gz ripe_otemachi_dat/ipasn_20030701_0000.dat", I get:
  WARNING: can't get_origin_as for prefix 195.80.230.0/24
IPASN database saved (126393 IPV4 + 0 IPV6 prefixes)

"pyasn_util_convert.py --dump-screen ripe_otemachi_rib/bview.20030701.0000.gz | grep -A 4 195.80.230.0/24" yields:
Record #056560:

[2017-01-08 17:14] JustinAzoff commented on #22
Thanks for adding this, I was about this sort of thing only to see that it was just completed!

[2017-01-08 17:23] JustinAzoff commented on #22
Hmm, on a closer look this is 99% there but one small issue prevents it from being more useful.  The utils are in a pyasn-utils directory that does not have an __init__.py so they can't be directly imported with something like

    from pyasn.utils import download

Currently I'm using a lot of subprocess calls to download and convert the data.  You can see what I'm doing here:

https://github.com/

[2017-01-09 21:41] hadiasghari commented on #22
@JustinAzoff  that's a great point which I overlooked. Is the __init__ something you could add, perhaps with also a unit-test?

[2017-01-09 23:52] JustinAzoff commented on #22
Yes.. I can look into it.  The directory will need to be renamed though, because you can not 'import pyasn-utils'.

I think the gist of it would just be

    git mv pyasn-utils utils
    touch utils/__init_.py

and then fixup setup.py and write the tests.  I will see about doing this tomorrow.

[2017-01-10 15:46] hadiasghari commented on #22
That's a good point about the directory name. Perhaps it's better then to add a utils.py under pyasn, so the import statement can be ```from pyasn import utils``` ... instead of  ```import utils```. We then move the key methods from the ```pyasn_util*``` files into it, and also some methods from your ```data_manager.py```.

[2017-01-10 16:01] JustinAzoff commented on #22
Yeah.. I realized I utils belonged under pyasn/ once I started. I just pushed out a first pass of this, it looks like it works:

API:

[code]
CLI:
[code]

It's in https://github.com/JustinAzoff/pyasn/tree/importable-utils as https://github.com/JustinAzoff/pyasn/commit/aa7f5e1ae8c784b4c60286115434c7e7a65d70c9

It looks like a very large commit, but it's almost all whitespace changes.  The biggest c

[2017-01-11 08:06] sebix commented on #20
Thanks!

[2017-01-16 08:25] askabelin commented on #39
Hi. Could you please make release to pypi?

[2017-01-17 18:46] hadiasghari commented on #39
@askabelin  done!

[2017-01-25 00:14] JustinAzoff commented on #22
Hi, got sidetracked for a bit but working on finishing this.  I refactored convert.py a bit further to see how it would look using regular keyword arguments:

https://github.com/JustinAzoff/pyasn/commit/6ca5b87ef69b83e7190dce3edc1a5e340371141b

The primary change was changing `main` to

[code]

and then updating the definition and removing references to `args.`

This lets you:

[code]

As next ste

[2017-02-08 20:23] hadiasghari commented on #25
Hi all @sebix @jkrauska @dmth @anoroozian, an update and question/poll.

I've contacted the radix.c author directly (in addition to previously contacting deepfield), and received absolutely no response. I'm not sure how to interpret a non-response, other than that the license is what it is.

About the next step: On a scale of 1-5 how much are you in favor of switching to another of radix implement

[2017-02-08 23:43] jkrauska commented on #25
+5 switch -- the original author is probably on a beach somewhere...

Best to find/use implementations without any licensing concerns.

There seems to be an unencumbered one in the linux kernel.

https://github.com/torvalds/linux/blob/master/lib/radix-tree.c

[2017-02-09 10:33] dmth commented on #25
@hadiasghari thank you very much for keeping this issue alive and spending so much time for solving this issue.

Did anyone reach out to https://github.com/mjschultz/py-radix ?
Because he must have the same problem like us. Maybe we can combine efforts here.

Right now I cannot tell if switching to another radix implementation is the way to go.

Is the use of a radix-tree a requirement? Do other d

[2017-02-09 10:40] dmth commented on #25
@jkrauska

Thanks for finding this one, but I'm unsure if adding GPL-code does serve the needs of all users of PyASN.

[2017-02-15 09:13] dmth commented on #25
Alternative pure python implementations, found by @bernhardreiter:

* https://pypi.python.org/pypi/cidrtrie/0.1  MIT-License
* https://pypi.python.org/pypi/pytricia/0.9.1   GPLv2

[2017-02-15 15:58] anoroozian commented on #25
Ok, joining this thread a bit late but here is my 2 cents:

It seems to me that with respect to this question we are discussing two separate things:
1. Issue #20 - (Debian packages)
2. Potential licensing problem of including pyasn alongside other software.

The latest version of Debian already includes the problematic code and (going by the advice of the FOSS license expert that @hadiasghari talk

[2017-02-15 17:08] wagner-certat commented on #25
Do you refer to [python-radix](https://packages.debian.org/jessie/python-radix)?

[2017-02-15 18:17] anoroozian commented on #25
@wagner-certat Exactly

[2017-02-16 07:45] bernhardreiter commented on #25
Hi,
as far as I understood @wagner-certat is mainly interested in using pyasn for intelmq (so am I) and his packaging efforts are related to it. As intelmq is under GNU AGPL v>=3 the "original 4-clause BSD license" is incompatible with it, see https://www.gnu.org/licenses/license-list.en.html#OriginalBSD.

As this "Original BSD" license is considered Free Software, it can be shipped by Debian, sti

[2017-02-16 08:56] hadiasghari commented on #25
The radix tree is a fundamental part of the module: it's what enables the most-specific-prefix match to happen when doing a lookup.

Changing it is possible, but it would require much testing.  I originally picked a C implementation to ensure fast db loads  and memory efficiency. I will compare the pure Python alternatives.

A new question for pytricia: is its GPL license compatible with pyasn's M

[2017-02-16 09:18] dmth commented on #25
@bernhardreiter already asked the author to consider the licensing: https://github.com/jsommers/pytricia/issues/10 let's see what happens.

[2017-02-16 16:08] wagner-certat commented on #25
On 02/16/2017 08:45 AM, Bernhard E. Reiter wrote:

But I create separate packages for intelmq and pyasn.

[2017-02-17 07:13] bernhardreiter commented on #25
`But I create separate packages for intelmq and pyasn.`

You can do this and help pyasn alone. The  licensing problem with using it in intelmq is not solved by separate packaging. The legal question is whether the work 'intelmq product' is derived from 'pyasn' which probably is yes, because you cannot leave out pyasn for good.

[2017-02-18 16:35] hadiasghari commented on #25
I have good news and a suggestion. I tested ```pytricia``` and the performance is on par with ```pyasn```'s radix tree.

- Initial load (750k prefixes):  pyasn-radix=0.28s, pytricia=0.96s
- Memory use: pyasn-radix=140MB, pytricia=129MB
- 100,000 V4+V6 lookups: pyasn-radix=0.17s, pytricia=0.21s

My suggestion is to:

- add a switch to pyasn ```setup``` to allow building without ```radix.c```
- add

[2017-02-20 10:04] bernhardreiter commented on #25
@hadiasghari that is really good news! Thanks for testing pytricia!

As far as I can say this will work for us (@dmth and IntelMQ).

We would be using only pytricia and my suggestion for Debian packaging would be to go in this direction as well. It is fine to keep the ability to use the old code with the less wanted 4-clause BSD license in, as long as it does not pose a maintenance burden. (This i

[2017-02-21 10:41] wagner-certat commented on #25
@hadiasghari
Great news. Thanks for all your work!

@bernhardreiter

The functionality is also provided by other tools, so pyasn is not the only option.

[2017-02-21 17:06] hadiasghari commented on #25
@bernhardreiter,

I do not want to change the default backend for everyone, because I don't want anything to break if `pytricia` changes. Also, the load-time is slower, and I noticed a possible memory leak. Regarding the maintenance burden with two-backends, I don't think it'll be a big issue, as the radix-code is stable and doesn't change. To enable multiple radix-backends, I'll create a common a

[2017-02-22 10:02] bernhardreiter commented on #25
@hadiasghari

works for me. :+1:

It would be cool if you could report this to https://github.com/jsommers/pytricia @jsommers is certainly interested in such a report.

Personally I would change the default or even remove the code that is less-desirably licensed even if it is a tiny bit slower because I think this licensing trouble will cause problems with some people later where the efforts to re

[2017-02-28 20:16] masterseo2000 opened #44 "Question about IP Network Relationships"
Hello,
looks like a great tool. I was wondering if it shows the IP owner relationships (downstream/upstream provider relationships)? If anyone has an idea on how to map those relationships I would really appreciate it.
Thanks a lot

[2017-04-01 17:30] hadiasghari commented on #44
Hi @masterseo2000. pyasn will tell you the autonomous-system that owns the IP address.

Here are a few resources for downstream/upstream ASes:
- Internet AS level topology (http://irl.cs.ucla.edu/topology/)
- CAIDA (http://www.caida.org/research/topology/)

Cheers

[2017-04-01 17:30] #44 closed

[2017-04-01 17:32] hadiasghari commented on #43
@johanmazel is this a major issue? Or a one off case with the particular record in the file above?  I am closing the issue for now, if it remains a major problem, please reopen it with more examples. Cheers.

[2017-04-01 17:32] #43 closed

[2017-06-12 06:51] theHarshul opened #45 "Installation fails on Mac OSX"
ran `pip install pyasn --pre`

Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/8z/9xpwy8q96qlbhg2bc6f9cvwc0000gn/T/pip-build-9Ola_u/backport-ipaddress/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /var/folders/8z/9xpwy8q96qlbhg2bc6f9cvwc0000gn/T/p

[2017-06-12 06:56] #45 closed

[2017-06-16 07:27] gmmoura opened #46 "Issue with multihomed IP addresses"
The tools seems to report only 1 AS out of multiple that multihomed IPs have.

E.g:
`In [4]: asndb.lookup('37.209.196.7')`

`Out[4]: (134390, '37.209.196.0/24')`

While IP2ASN

` whois -h whois.cymru.com " -v 37.209.196.7 2017-06-10 00:00:00 GMT" |cut -d'|' -f1,2,3`

 AS        | IP                     | BGP Prefix
 18210    | 37.209.196.7     | 37.209.196.0/24
134390  | 37.209.196.7     | 37.209.

[2017-06-16 14:16] hadiasghari commented on #46
Hi @gmmoura , thanks for the input.

Most probably this is the line of code that is responsible in the MRT to IPASN converter:

    for prefix, origin in prefixes.items():
        if not debug_write_sets and isinstance(origin, set):
            origin = list(origin)[0]  # get an AS randomly if more than one

This could be changed to save the whole set during conversion, and return the whole set by

[2017-07-22 05:12] gsankara opened #47 "compilation error on Windows"
C:\Users\abcd\AppData\Local\Programs\Common\Microsoft\Visual C++ for Python\9.
0\VC\Bin\cl.exe /c /nologo /Ox /MD /W3 /GS- /DNDEBUG -IC:\Users\abcd\tracert\pyasn-1.6.0b1\pyasn -Ic:\Python27\include -Ic:\Python27\PC /Tcpyasn/pyasn_radix.c /Fobuild\temp.win32-2.7\Release\pyasn
/pyasn_radix.obj
pyasn_radix.c
pyasn/pyasn_radix.c(662) : error C2143: syntax error : missing ';' before 'type'

When I move

[2017-07-24 13:38] hadiasghari commented on #47
Hi @gsankara , thanks for this. Can you do a pull request with your fix? I can then merge it ot the main code.

[2017-07-24 13:40] hadiasghari commented on #46
I'd appreciate some input to know if this is important to fix.

[2017-07-24 14:21] gsankara commented on #47
Sorry @hadiasghari. I am not familiar with the procedure you are suggesting.

regs
Ganesh

On Mon, Jul 24, 2017 at 7:08 PM, Hadi Asghari <notifications@github.com>
wrote:

[2017-07-24 14:39] hadiasghari commented on #47
It's rather simple: you fork pyasn on github, make your changes and commit to your forked repository, then do a pull request through the github interface so I can merge it. I can then test+merge it.

[2017-07-24 18:16] aaronkaplan commented on #46
I'd suggest that *if* support for it is implemented, that the lookup function shall have a conditional flag ``lookup_multi=<bool>`` which defaults to False (i.e. keep the existing functionality as default).

If you enable it by default, it would confuse existing users of the library.

Best,
a.

[2017-07-25 07:32] gsankara commented on #47
@hadiasghari Thanks, done. Please check if it is okay.

regs
Ganesh

On Mon, Jul 24, 2017 at 8:09 PM, Hadi Asghari <notifications@github.com>
wrote:

[2017-07-25 10:08] hadiasghari commented on #47
Thank you, I've merged your changes in master!

[2017-07-25 10:08] #47 closed

[2017-07-25 10:10] hadiasghari commented on #46
@aaronkaplan that's exactly my thinking, and if the change is useful only for rare cases, then it has little priority.

[2017-07-25 10:11] hadiasghari commented on #46
BTW, I also wonder if this issue relates to #37.

[2017-07-25 10:14] aaronkaplan commented on #46
:)

Yes and no.
There are cases where the info is necessary. Since the library can not know what the requirements of the application are, it's a good thing to implement it, especially since it's a cheap , solvable issue.
But, I would definitely not change the default behaviour to return only one ASN.
But rather document that the multi-ASN feature exists.

My 2 cents,
a.

[2017-07-25 10:22] hadiasghari commented on #46
The change requires producing IPASNDAT files with multiple ASes listed for some prefixes, and this might be incompatible with existing versions of the library, specifically the load function in the C code. I'd have to see if that can be avoided.

[2017-07-25 15:36] wagner-certat commented on #46
Then the new version is simply 2.0 :)

[2017-09-07 15:13] antdude opened #49 "(Install/Upgrad)ing my pyasn via pip, failed in my oldstable/Jessie Debian v8."
$ pip install --upgrade pyasn
Collecting pyasn
  Using cached pyasn-1.6.0b1.tar.gz
Building wheels for collected packages: pyasn
  Running setup.py bdist_wheel for pyasn ... error
  Complete output from command /home/ant/SopelPython3/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-35r70frq/pyasn/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r

[2017-09-07 15:31] hadiasghari commented on #49
Hi, you need to first install python-dev which includes python.h. See the readme for prerequisites.

[2017-09-07 15:51] antdude commented on #49
Perfect and thanks. Was this python-dev requirement recently added? I never had to install it in the past.

[2017-09-07 16:08] hadiasghari commented on #49
No it's always been there. On some systems the package is already installed, or some other package might have installed it as a dependency.

I'll close the issue. Cheers.

[2017-09-07 16:08] #49 closed

[2017-09-07 16:15] antdude commented on #49
Interesting and thanks.

[2017-11-26 16:07] r-lomba opened #50 "Question: Trying to use Pyasn from Jython 2.5.3, is it possible?"
I'm writing a log parser using Apache Pig, and I'd like to use Pyasn to extract ASN information from IP addresses.

Normally, to use a Python extension in Apache Pig, you write a Python UDF and then register it in Pig "as jython"

So, this is what I did:

1) I successfully installed pyasn (in a previous try via pip-install, currently I have installed it manually, but still it doesn't work)

2) Wro

[2017-11-26 16:37] hadiasghari commented on #50
Hi @r-lomba, the problem seems to be that the ````from future import print_funciton```` statement at the top  of the file is not supported. This might be because of the Jython version -- can you try 2.7?

[2017-11-26 18:16] r-lomba commented on #50
Thanks for the speed-of-light reply, @hadiasghari ! I'll se what I can do about upgrading jython and post my findings. Unfortunately I won't be as quick as you've been, I'll be off at this customer's in a few days. Thanks, until then

[2017-12-16 15:45] seanthegeek opened #53 "Getting an organization name from ASN"
Is it possible to get an organization name from ASN offline?

[2017-12-18 15:31] hadiasghari commented on #53
Hi @seanthegeek, pyasn doesn't  currently do that. There are online lists of AS names, for instance:

http://bgp.potaroo.net/cidr/autnums.html
http://www.bgplookingglass.com/list-of-autonomous-system-numbers

Also, MaxMind has a database for doing it offline.

[2017-12-18 15:31] #53 closed

[2017-12-19 07:03] gabrielmocan commented on #53
Wasn't that feature implemented on #24 ?

[2017-12-19 15:01] hadiasghari commented on #53
@gabrielmocan thanks for the correction, I had totally forgotten that. I'll edit my answer.

[2017-12-19 15:39] gabrielmocan commented on #53
You're welcome @hadiasghari. And I have to admit, it works like a charm!

[2018-06-28 02:07] randomgambit opened #56 "is the project still alive?"
Hello and thanks for this really promising package!

I just wonder if the project is still alive/maintained? Some of the links on the `readme` do not work anymore. Also, the historical dumps seem to stop in 2015. Could you please let me know?

Thanks!

[2018-06-28 10:51] hadiasghari commented on #56
Hi @randomgambit, the module works fine. I haven't contributed code for a while for some of the requests made but they don't affect core functionality (and I am always happy to accept PRs).

You can download the latest dumps with the pyasn_util_download script included. Regarding the ````readme````, I fixed the pipi link; are there other links that need fixing?

If all is in order please close thi

[2018-06-28 11:35] randomgambit commented on #56
@hadiasghari thank you this is great!

the issue is that I cannot use the `util_download` because my firewall does not allow connections within a program. Is there a `ftp` or a website where I get these historical IP-ASN tables?

However, this raises the question of how reliable this historical mapping is. Is the data even public? On a side note the link `Delft University of Technology` (http://ec

[2018-06-28 11:43] randomgambit commented on #56
@hadiasghari essentially what I am trying to do using `pyasn` is the following

I have a dataframe of `ip` addresses collected at various points in the past (2012, 2015, etc) and I want to map them to their corresponding `asn number` and `asn organization name`.

I am a little bit confused how to do so with `pyasn` without an internet connection from within `python`

[2018-06-28 12:03] hadiasghari commented on #56
@randomgambit  if you look inside the download script you will find the URL for the BGP/MRT-RIB dumps. (These are indeed public and capture the internet's routing state at that point in time):

http://archive.routeviews.org/bgpdata/

Once you download an RIB file, convert it to the IP-ASN table using the ````pyasn_util_convert```` script.

[2018-06-28 12:03] #56 closed

[2018-06-28 12:10] randomgambit commented on #56
@hadiasghari really cool, thanks! but do these dumps also contain the `company name` associated with the `asn` (say, `Apple Inc.`) ? if you only know that the `asn` is 1000, this is not very helpful (at least in my case). Can the mighty `pyasn` recover that information as well?

Thanks for helping again. Amazing package really!

[2018-06-28 13:34] randomgambit commented on #30
@nusenu @hadiasghari but are these mapping names fixed over time? For instance, on the `thyme` website I see that:

`18 UTEXAS - University of Texas at Austin, US`

does that mean that this was also true 5 years ago?

[2018-06-28 13:54] randomgambit opened #57 "wheel available somewhere?"
I realize the package needs the visual studio C++ building tools.

I - like many others - cant install it on my computer at work. I have checked on the pre-compiled binaries here https://www.lfd.uci.edu/~gohlke/pythonlibs/#wordcloud but unfortunately `pyasn` is not there.

Could you perhaps please provide a `wheel` of the package for python 3. ?
Is this possible?

Thanks!

[2018-06-28 14:34] hadiasghari commented on #30
@randomgambit, when ASNs are assigned to organizations, they typically stay that way unless the organization goes through a merger and acquisition or goes out of business.

[2018-06-28 14:39] hadiasghari commented on #56
pyasn downloads the current AS names with pyasn_util_asnames... . For historical names you might have a look at Maxmind's offerings (e.g. https://www.maxmind.com/en/geoip2-isp-database or https://www.maxmind.com/en/geoip2-precision-insights), I've seen some colleagues use that.

[2018-06-28 14:44] randomgambit commented on #30
@hadiasghari I see, thanks.

but this then means it is important to have access to historical asn-names lookups as well. I mean, many firms have been acquired/ went bankrupts over the years. Would that data be available somewhere in your opinion?

My understanding is that the current mapping `IP -> AS NUMBER` is historically correct as long as one downloads the historical dumps from `http://archiv

[2018-07-01 12:36] randomgambit opened #58 "failed install on windows 10"
Hello!

I tried to install the package on my computer, but the install fails
[code]

I am using the latest `anaconda` distrib and I believe I have installed all the prerequisites... Do you have any ideas?

Thanks!!

[2018-07-02 14:40] hadiasghari commented on #58
@randomgambit I don't have a Windows machine at this moment so I'm not sure. The errors are strange and makes me wonder about whether VS version is compatible. But I cannot help more.

This relates to issue #20/#25 and I wonder if @sebix/@dmth made a version of the library with the  ````python-radix```` module instead of the current C radix module (which would take away the need to compile it)?

[2018-07-02 14:49] wagner-certat commented on #58
No.

py-radix also has a c backend but it is optional (although recommended): https://github.com/mjschultz/py-radix/issues/39#issuecomment-400726355

Beside from py-radix there's also pytricia.

[2018-07-02 17:15] randomgambit commented on #58
@hadiasghari @wagner-certat damn... that makes the availability of a python `wheel` even more critical. I really want to use this package, but so have I am not even able to install it... any ideas?
Thanks again!

[2018-07-27 02:08] benjaminlaird opened #59 "Implement integer IP input to .lookup()"
Hello, I'm curious if there is value in adding a second .lookup signature to support integer IPs. I'm using `pyasn` in a Spark job, looking up a large number of IPs in a job (1B+), where passing 32bit ints around the cluster will be very beneficial instead of string IPs.

I could convert in Python before calling `.lookup()` but doing the int->str conversion in the underlying C would obviously be f

[2018-07-30 08:34] hadiasghari commented on #59
Hi @benjaminlaird. If you find the feature useful, and have the time to implement it, then by all means do it. I will gladly merge the PR :)

-Hadi

[2018-07-30 17:48] randomgambit commented on #58
hello @hadiasghari , just following up on this previous discussion. Any hope that you could provide a wheel or a windows binaries like the ones here (https://www.lfd.uci.edu/~gohlke/pythonlibs/)

Right now I simply cant even install your package....

thanks!

[2018-07-30 17:49] randomgambit commented on #58
haha wait I say that and now I see `pyasn` referenced on this website!! yay!! did you do anything?

[2018-08-02 11:51] hadiasghari commented on #58
@randomgambit I didn't create them since I don't have a Windows machine at the moment. Please tell me if they work so I can add the link to the README file for others.

[2018-08-02 12:07] randomgambit commented on #58
yes, I tried yesterday and they seem to work! While you re at it, you could also add that the additional utils are in `/Users/Anaconda/Scripts` ... However, I was not able to make the `get_asn_name` script to work. Perhaps you could reference that on the README as well (`get_asn_name is only mentioned here and there in ... the issues)

Thanks!!!

[2018-12-26 14:10] 9b opened #60 "Web service wrapper and database manager extension"
Thank you for providing this library!

I recently decided to use this module within a project of mine in order to enrich IP addresses that I extracted from logs. During setup, I noticed that the service would be best represented as an API, so I wrapped a small Flask application around the library. I also noticed that while there are utilities to manage downloading incremental updates, there's no e

[2019-01-10 14:12] hadiasghari commented on #60
Hi Brandon @9b thanks for the link and the writeup. There are nice extensions and potentially useful to others. Is it possible in your opinion to integrate the web API & continous downloader without having to make them mandatory extensions—since not everyone might want them and I don't like to add dependencies to the module?

[2019-01-13 02:09] 9b commented on #60
I think we could, similar to how you have utilities for downloading. What I might be able to do is build a small utility that downloads the source from netinfo and sets everything up. A low-friction approach would be to link to netinfo for those wishing to host a webserver copy.

[2019-05-01 06:45] netwninja opened #61 "PYASN use for private enterprise BGP"
I'm trying to setup pyasn for private BGP AS and prefix co relation. I tried tweaking the prefix database downloaded from internet by adding RFC1918 prefixes and private AS numbers.
however, it didn't work.

Is it possible to use pyasn for private BGP setup ? If yes, is there a doc available using which we can try to create a private BGP AS and Prefix database ?

Thanks
GS

[2019-05-01 14:06] hadiasghari commented on #61
Hi @netwninja, the MRT parser discards private BGP ASes from the AS Path as this causes issues in most cases. You would need to make changes to the code for your purpose. Have a look at the `is_asn_bogus` function in `mrtx.py`.

[2019-05-01 14:07] #61 closed

[2019-10-03 07:43] wagner-certat opened #62 "Cannot parse RIPE RIS bview data anymore"
It seems that today's data of http://data.ris.ripe.net/rrc12/latest-bview.gz (permalink http://data.ris.ripe.net/rrc12/2019.10/bview.20191003.0000.gz) can't be parsed anymore. It worked at least until yesterday

[code]

[2019-10-06 10:57] hadiasghari commented on #62
Hi @wagner-certat, I am not actively working on pyasn at the moment to assist with the debugging. But sometimes the problem is in just one particular RIS file. Have you since tried with a later day?

[2019-10-21 19:24] marcolussetti commented on #62
Confirming the issue, tried with today with the same result. Tried going back to http://data.ris.ripe.net/rrc12/2019.10/bview.20191002.0000.gz and it does work.

Might try to work on it tomorrow if I can find the time though first time using this package.

[2019-12-26 19:39] jasonma97 opened #63 "Request for New PyPi Release?"
Hi, I was wondering if it would be possible for you to make a new pypi release with the changes you've made to the master branch.

My code is currently breaking when using the current pypi release of pyasn, and it seems that the changes you've made (namely the asn ranges in `asn_is_bogus`) resolve the issues.

[2020-01-02 11:28] hadiasghari commented on #63
Hi @jasonma97, this is a good idea, I'll look into doing a new release in the coming weeks.

[2020-02-07 23:06] jasonma97 commented on #63
Hi @hadiasghari, just wanted check to see if there are any updates to this?

[2020-02-11 10:54] hadiasghari commented on #63
I was hoping to get a new project maintainer on board but I haven't succeeded yet. :) I'll have a look at releasing a new version later this week.

[2020-02-11 10:56] hadiasghari commented on #20
Hi @sebix,  did you eventually resolve the licensing issue in some manner?

[2020-02-11 10:57] hadiasghari commented on #50
I assume this has been since resolved.

[2020-02-11 10:57] #50 closed

[2020-02-11 10:57] #59 closed

[2020-02-11 11:00] hadiasghari commented on #58
Hi @randomgambit, are you still using pyasn? Could you do a PR on the changes you made so I can merge them? I am going to do a new release soon, thanks

[2020-02-11 11:00] hadiasghari commented on #57
If anyone does this I'll be happy to support it. Otherwise I refer to #58 for a workaround.

[2020-02-11 11:00] #57 closed

[2020-02-11 11:02] hadiasghari commented on #62
@marcolussetti I will flag this as an incidental problem with that particular file and close it for now. Thanks,

[2020-02-11 11:03] hadiasghari commented on #46
@wagner-certat, do you have any code/workaround on this for a possible merge?

[2020-02-11 12:36] hadiasghari commented on #60
Hi @9b, do you want to do add a small section to the README regarding the netinfo project? Or some other low-dependency option that I can look into merging via a PR? For now I am closing this. Cheers.

[2020-02-11 12:36] #60 closed

[2020-02-11 12:37] #37 closed

[2020-02-11 12:38] hadiasghari commented on #30
Yes that is correct. :)

[2020-02-11 12:38] #30 closed

[2020-02-11 12:39] #22 closed

[2020-02-11 12:42] #46 closed

[2020-02-11 12:46] wagner-certat commented on #62
Does it mean that RIPE RIS data is not supported anymore? The error (message) is the same for the current files from that source.

[2020-02-11 12:47] hadiasghari commented on #62
@wagner-certat sorry, I misunderstood, then I'll repoen it.

[2020-02-11 12:51] sebix commented on #20
See #25

[2020-02-11 13:00] hadiasghari commented on #20
Well, in #25 the conclusion was pytricia can be way forward, and I personally think the correct design is to have the back-end be a choice (either at compile time or at runtime)... But I unfortunately didn't get around to doing the work. That's why I was asking if you implemented any solution for yourself?  Shall we close this thread and continue the discussion in #25?

[2020-02-11 14:18] wagner-certat commented on #46
I did not work on it. Does the closing of the issue mean that the feature request is rejected?

[2020-02-11 14:37] hadiasghari commented on #46
The idea is not rejected: I agree that it could be a useful addition. The question is if anyone wants  the feature enough to implement it, and the moment the answer to that question is negative. Do you suggest I keep these kind of issues open?

[2020-02-16 09:25] sebix commented on #20
AFAIR #25 is simply a dependency for #20

[2020-04-02 06:52] marty90 commented on #62
+1

[2020-04-02 06:53] marty90 commented on #62
--skip-on-error does not work

[2020-04-02 07:02] marty90 commented on #62
Apparently originating from [here](https://github.com/hadiasghari/pyasn/blob/bebed27d768c76c6b4bddaff368578dc67f0ec13/pyasn/mrtx.py#L594)

[2020-05-14 12:34] wagner-certat opened #64 "Download from routeviews via HTTP additional to FTP"
Currently, the download from routeviews.org happens via FTP in the `pyasn_util_download.py`. However, in order to use HTTP proxies (mandatory in some requirements), HTTP is preferred or only possible.

[2020-07-04 14:41] wagner-certat commented on #62
The problem has been fixed by efcd5ef -> can we have a new release plz :)

[2020-07-08 11:00] hadiasghari commented on #62
Hi @wagner-certat , do you mean it's already fixed in main and we just need a new Pypi release?

[2020-07-08 11:01] wagner-certat commented on #62
Exactly :)

[2020-07-08 11:02] hadiasghari commented on #62
Ok thanks for pointing that out. I'll do it in the next few days. I might ask for your help/feedback afterwards to make sure nothing breaks with the release.

[2020-07-08 15:38] wagner-certat commented on #62
I'm using the master branch in our production system since a few days now 0 to fix that error, I haven't seen any issues yet.

[2020-07-08 21:40] danish10499 commented on #30
Hi @hadiasghari,
I am unable to get the organization's name at all. Am I doing something wrong?
input => asndb.get_as_prefixes(1128)
output => {'130.161.0.0/16', '131.180.0.0/16', '145.94.0.0/16'}

TU-Delft prefixes is missing

[2020-07-12 18:45] wagner-certat commented on #25
Shouldn't the BSD-4-Clause license of the radix code be reflected in the license specification of pyasn? (for simplicity and as the plan is to go with pytricia anyway, I would only adapt https://github.com/hadiasghari/pyasn/blob/bebed27d768c76c6b4bddaff368578dc67f0ec13/setup.py#L41 to `BSD and BSD-4-Clause`)

[2020-08-18 18:29] hadiasghari commented on #63
Dear @jasonma97 I have released a new version, could you check and tell me if it works as expected? Thanks.

[2020-08-18 18:29] hadiasghari commented on #62
Dear @wagner-certat,  I have released a new pypi version. Can you kindly  check and tell me if it works as expected? Thanks.

[2020-08-20 11:18] wagner-certat commented on #62
Yes, works!

Thank you

[2020-08-20 11:18] #62 closed

[2020-08-30 04:21] thamayron opened #65 "IPv6 Prefixes do not downloaded on RIB/DB file"
Hello guys,

how have you been?

I'm a network engineering and I'm developing a tool with python and django to make my team easier, so I don't know if I'm making some mistake or if the file really does not have IPv6 addresses or some bug.

**I hope you can help me.**

After the instalation, I'm generating my db file and when I open it there is no IPv6 address on it.

I ran this commands do downloa

[2020-08-30 13:34] hadiasghari commented on #63
This should be working similar to #62, which was recently closed. If still an issue please reopen.

[2020-08-30 13:34] #63 closed

[2020-08-30 13:37] hadiasghari commented on #65
Hi @thamayron. Please try either `--latestv6`  or `--latestv46` argument with `pyasn_util_download`. The default MRT/RIB file downloaded, if I recall correctly, only has IPv4 routes.

[2020-08-30 13:37] hadiasghari commented on #64
@wagner-certat if you have any PRs on this I'd be happy to merge :)

[2020-08-30 17:02] thamayron commented on #65
**It works! Thank you very much Hadi (@hadiasghari) , it will help me a lot!**

![image](https://user-images.githubusercontent.com/13776577/91664944-cce2dd00-eac8-11ea-846a-e1eb3fcd94d9.png)

![image](https://user-images.githubusercontent.com/13776577/91664966-eb48d880-eac8-11ea-95c1-263950513b6a.png)

Just for information, do you intend to do name translation  ?

[2020-09-03 18:21] hadiasghari commented on #65
I'm glad it helped. I've updated the README to make it clear for others as well. Regarding name-translation, there are no plans for it at this moment.

[2020-09-03 18:21] #65 closed

[2020-09-03 20:14] thamayron commented on #65
Thank you very much!

[2020-09-04 15:34] wagner-certat commented on #64
In IntelMQ we now integrated the pyasn database update functionality, so there's no overlap of interest / potential of synergies. I therefore doubt that I'll provide a PR for this in the near future :/

[2020-09-07 12:31] hadiasghari commented on #64
No problem. I'll close this for now, as I think some might also simply use wget. If there is interest in the future we can revisit this issue. Thanks!

[2020-09-07 12:31] #64 closed

[2020-09-08 18:38] strikaco opened #66 "Link to previously-generated IPASN files is dead"
For the sake of awareness, this link only returns a 404.

[2020-09-08 18:54] hadiasghari commented on #66
Thanks, I'll updated it to this: https://doi.org/10.4121/uuid:d4d23b8e-2077-4592-8b47-cb476ad16e12
Please tell me if this works

[2020-09-08 19:25] strikaco commented on #66
Thanks for the quick response! The link does work and I successfully downloaded a 650MB archive of RIBs from it.

If it's worth following up on at all, the verbiage on the new page is a little misleading though:

...any point in time, as long as it's between 2005 and 2015 ;)

[2020-09-08 20:03] hadiasghari commented on #66
It works for any time, but you need to create the IPASNDAT file yourself. To do that you download an MRT-RIB file using `pyasn_util_download.py` and convert it with `pyasn_util_convert.py`.

[2020-09-08 20:03] #66 closed

[2020-09-18 09:28] khaledazrak opened #67 "Impossible to import after the installation in python 3.6.8"
Hi, just installed it with the tar.gz file, seems everything ok.

But when trying to import it in python 3.6.8, i have this error :

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/pyasn-1.6.1/pyasn/__init__.py", line 21, in <module>
    from .pyasn_radix import Radix
ModuleNotFoundError: No module named 'pyasn.pyasn_radix'
[code]

[2020-09-20 15:50] hadiasghari commented on #67
Hi @khaledazrak , the advised way to install pyasn is via `pip install pyasn`.
Can you explain what platform you are using,  and how you have exactly installed the tar.gz file?

[2020-10-15 18:32] hadiasghari commented on #67
I'm assuming this issue is resolved; if not feel free to repoen.

[2020-10-15 18:32] #67 closed

[2021-01-19 01:01] mansweet opened #68 "Pickle Persistence Error"
Hello,
First and foremost, thanks for writing this library and providing it to the community. I really appreciate the hard work you've done in research for it, as well as the thorough testing.  Having a fast lib for looking up IP ASN's is important to our application.

I'm trying to use the `pyasn` lib in a spark application and would like to make it a broadcast variable, that way I only have to l

[2021-01-22 19:47] hadiasghari commented on #68
Hi @mansweet, I committed a new version to Github. Can you pull and run it directly to see if it resolves the problem?

[2021-03-02 09:19] hadiasghari commented on #68
I believe this is fixed; if not please feel free to repoen th eissue.

[2021-03-02 09:19] #68 closed

[2021-06-22 09:14] nermin99 opened #70 "Add support for download rib as `filename` OR add pipeline support for immediately converting downloaded file, regardless of filename"
Sorry for the title. What I'm trying to achieve is an automated process of donwloading the rib file and then converting it, without having to manually input it's name, which will _continuously_ change!

So then I could have an automated script like
`python pyasn_util_download.py --latest "rib.bz2"
&& python pyasn_util_convert.py --single rib.bz2 ipasn_db_file_name.dat`

OR

something like
`python

[2021-06-23 09:05] hadiasghari commented on #70
Hi @nermin99, I understand the request and it's logical. Your first solution also seems quite easy to implement since it needs one additional parameter for the script. Are you yourself interested in sending a pull request for it?

[2021-06-23 22:15] nermin99 commented on #70
Yes here you 👍🏻 #71

[2021-06-24 08:59] hadiasghari commented on #70
Thank you, I accepted and merged the PR. Do you also need me to do a new Pypi release or are you running/installing from source?

[2021-06-24 23:25] nermin99 commented on #70
No I'm good, I'm just using the source files

[2021-08-30 12:06] hadiasghari commented on #64
Hi @mansweet, thank you for the PR, I'll need a few days to get to this.

[2021-08-30 12:15] hadiasghari commented on #64
@mansweet thank you for the commits. I approved and merged PR #69. Please send a new PR so I can run tests/check and then merge/approve.

Note, regarding the feature list you mention, I agree with all, except this `I'll keep it simple and just add functionality to download the latest rib file, if that's alright`.  I feel this would make it unnecessary complicated that the FTP option can do differe

[2021-08-31 22:26] mansweet commented on #64
@hadiasghari  thanks for merging #69 and re-opening this issue.

I agree with your request and think that there should be uniform functionality for different options.  However, correct me if I'm wrong, but it seems that the FTP path is only capable of downloading the latest, while the http (as of now) can download specific dates (with the `--dates-from-file` CLI arg).  I think my feature here is j

[2021-09-09 18:05] mansweet commented on #64
hi @hadiasghari , any update on merging this PR?

[2021-09-09 18:20] wagner-certat commented on #64
That hit us in certtools/intelmq#2088 as well

[2021-09-16 09:44] hadiasghari commented on #64
Hi @mansweet, thanks for the PR. I posted an update to the PR conversation, please see that.

@mansweet @wagner-certat regarding the last day of month edge case (which is probably a change on Routeviews side), we could go back one day if nothing is found in the current day.

[2021-09-17 09:45] wagner-certat commented on #64
The monthly dirs are sorted here:
[code]
We could also always use the current month, instead of just the newest directory.

[2022-03-04 18:51] tbennett6421 commented on #70
Can we get an updated build on pypi that contains this FR?

[2022-03-04 18:56] tbennett6421 opened #73 "Request for New PyPi Release"
Can we get an updated package on pypi from master, specifically to bring in #70
Very useful for some automation I'm doing. Thank you

[2022-03-11 09:50] #70 closed

[2022-03-22 17:56] tbennett6421 commented on #73
curious if there's been any movement on this?

[2022-04-19 15:52] EugeniuZ opened #74 "Private IPs in database files"
Hi,

Currently I see these entries in the database file:
[code]

Could you please clarify why are private IP ranges assigned an ASN?

[2022-04-20 13:55] hadiasghari commented on #74
Hi @EugeniuZ ,

This isn't normally the case. It seems like an error with the MRT/RIB/BGP data. A simple fix would be to filter out these private ranges from the file. Where did you download your RIB file from?

[2022-04-21 08:34] EugeniuZ commented on #74
Hi @hadiasghari ,

This is what I see in the log:
[code]
We're using the provided tool to download the database (`pyasn_util_download.py --latestv46`)

So is this the wrong place to report the issue?

[2022-04-24 21:52] hadiasghari commented on #74
@EugeniuZ, I am not spending much time on this project at the moment, so I cannot unfortunately debug this issue at the moment. Basically,  `pyasn` parses the RIB file information to produce its `ipasn.dat` file. The RIB file is a dump from a router's BGP table (in this case from `route-views4` vantage). These private v4 addresses should not appear in the RIB files--and typically don't. Perhaps th